* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: black;
   font-family: 'Urbanist', sans-serif;
}

/* Color Scheme */
.accent-color-1 {
   color: #b19f9e;
}
.accent-color-2 {
   color: #a16e83;
}

/* Game Board */
.game{
   width: 600px;
   height: 300px;
   border: 1px solid white;
   margin: auto;
}
#scoreboard {
   font-size: 1.5em;
}

/* Animations */
.animate{
   animation: jump 0.3s linear;
}
@keyframes jump{
   0%{top: 150px;}
   30%{top: 100px;}
   70%{top: 100px;}
   100%{top: 150px;}
}

/* Kitty */
#kitty {
   position: relative;
   font-size: 50px;
   top: 190px;
   color: grey;
}

/* Pepper */
#pepper{
   color: red;
   font-size: 1.5em;
   position: relative;
   top: 160px;
   left: 500px;
   animation: pepper 1s infinite linear;
}
@keyframes pepper{
   0%{left: 500px}
   100%{left: -20px}
}

/* Footer */
 .footer_icons {
    margin: 20px 10px;
    font-size: 2em;
}
.hb_logo {
   max-width: 35px;
}